@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "recoleta";
  font-weight: normal;
  src: url("./fonts/recoleta-regulardemo.otf") format("truetype");
}


@font-face {
  font-family: "Geist Sans";
  src: url("./fonts/GeistVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMonoVF.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./fonts/HankenGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./fonts/HankenGrotesk-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./fonts/HankenGrotesk-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./fonts/HankenGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./fonts/HankenGrotesk-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  background-color: rgb(255, 251, 247);
  font-family: "Hanken Grotesk", Helvetica, sans-serif;
}

.typography {
  font-family: "recoleta" !important;
}

.head-typography {
  font-family: "Satoshi" !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000bf;
}